<div
  class="w-full flex flex-row items-center justify-start gap-2 border border-transparent hover:bg-sky-50 rounded-md p-2"
  [class.shadow]="link().isActive"
  [class.border-zinc-100]="link().isActive"
>
  <div class="w-full flex flex-row items-center justify-start gap-2">
    <span
      class="size-4 flex items-center justify-center rounded-full text-neutral-600"
      [class.text-primary-400]="link().isActive"
    >
      <ng-content />
    </span>
    <a [routerLink]="link().link" class="w-full flex flex-row items-center justify-between gap-2">
      <p class="text-neutral-700 text-sm font-medium" [class.text-primary-400]="link().isActive">
        {{ link().title }}
      </p>
      <span
        class="size-4 flex items-center justify-center rounded-full transition-all duration-300 text-neutral-600"
        [class.rotate-90]="link().isActive"
        [class.text-primary-400]="link().isActive"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-chevron-right-icon lucide-chevron-right"
        >
          <path d="m9 18 6-6-6-6" data--h-bstatus="0OBSERVED" />
        </svg>
      </span>
    </a>
  </div>
</div>
@if(childLinks() && childLinks().length && link().isActive){
<ul class="w-full flex items-start justify-start flex-col gap-1 ps-5">
  @for (item of childLinks(); track item.id){
  <li class="w-full flex items-center justify-start gap-2">
    <span
      class="size-2 flex items-center justify-center rounded-full"
      [class.bg-primary-400]="item.isActive"
      [class.bg-neutral-300]="!item.isActive"
    >
    </span>
    <small
      class="capitalize"
      [class.text-primary-400]="item.isActive"
      [class.text-neutral-400]="!item.isActive"
      >{{ item.title }}</small
    >
  </li>
  }
</ul>

}
